*{
  margin:0;
}
*:focus{
  outline: 0;
}
.App{  
  max-width: 800px;
  margin:auto;
}
.div{
  max-width: 65%;
 margin: auto !important;
}
.Navbar img{
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
.Navbar{
  position: static;
  display: flex;
  justify-content: space-between;
  height: 45px;
  padding: 20px;
  border-bottom: #bdbcb9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.Navbar .buttons{
  margin-left: 10px;
}
.logo{
  object-fit: contain;
  max-width: 100%;
}
.signUp{
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin:auto;
  margin-top: 20vh;
  padding: 30px;
  max-width: 500px;
  background-color: white;
}
form{
}
form .input{
  margin: 10px;
}


.uploadCard{
  max-width: 500px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
input{
  margin-bottom: 10px;
}

